:root 
{
    --main-radius:5px;
    --main-padding:5px;
    font-family: 'Montserrat', sans-serif;
    --color-primary:#357470;
    --color-secondary: #91BFBC;
    --color-tertiary: linear-gradient(125.94deg, #357470 12.32%, #91BFBC 84.03%);
    --color-Quat: #2B3433;
    --text-color: #2B3433;
    box-sizing: border-box;
}

body 
{
    margin: 5px;
}

p 
{
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}

a 
{
    color:white;
    text-decoration:none;
}

li a 
{
    text-decoration: none;
}

/*-- Primary Container--*/
.container 
{
    display:grid;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 60% 20%  10%;
    grid-template-areas:
    "Sidebar Header Header Header" 
    "Sidebar Main Main Main"
    "Sidebar Content1 Content2 Content3"
    "Sidebar Footer Footer Footer";
    grid-gap: 3px;
    color:white;
}

/*--classes for scripts--*/

.reducedOpac
{
    filter: brightness(50%);
}
.hide
{
    display: none;
}
.unclickable 
{
    pointer-events: none;
}

/*--Header--*/
header 
{
    grid-area:Header;
    background:var(--color-Quat);
    border-radius:var(--main-radius);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

/*--Learn more Button--*/
header button.dogButton
{
    background:var(--color-Quat);    
    border: solid 3px white;
    border-radius: 20px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

/*--Modal--*/
.modalPop 
{
    position: absolute;
    left: 40%;
    top: 25%;
    z-index: 1;
    background: white;
    width: 30%;
    height: 40%;
    border-radius: 30px;
}

.carousel-slide
{
    display: none;
    display: flex;
    width: 100%;
    height: 500px;
    overflow: hidden;
    justify-content: center;
}

img.doggo
{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
}

.previousBtn 
{
    position:absolute;
    top: 50%;
    z-index: 10;
    left: 3%;
    background:var(--color-Quat);    
    border: solid 3px white;
    border-radius: 20px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.nextBtn 
{
    position:absolute;
    top: 50%;
    z-index: 10;
    right: 3%;
    background:var(--color-Quat);    
    border: solid 3px white;
    border-radius: 20px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;

}

.modal-close 
{
    position:absolute;
    top: 2%;
    z-index: 10;
    right: 2%;
    background:var(--color-Quat);    
    border: solid 3px white;
    border-radius: 20px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

/*--Navigation Menu--*/

ul.NavMenu 
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 80px;
    position: relative; 
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

nav ul li 
{
    list-style: none;
    margin: 5px;
    position: relative;
    width: 70px;
    height: 70px;
    padding: 5px;
}

nav ul li span 
{
    display: flex;
    justify-content: center;
}

nav ul li span.icon 
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: white;
}

/*--Nav interactivity--*/
.NavMenu li:hover span.icon
{
transform: translateY(-25px);
}

.NavMenu li:hover span.text 
{
    text-decoration: underline;
    transition: 1s;
    cursor: pointer;
}

.active
{
    color: purple;
    background-color: red;
}

/*--Main content area--*/
main
{
    grid-area:Main;
    display: flex;
    justify-content: space-between;
    background: var(--color-primary);
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
}

Ul.Education,
Ul.Career,
Ul.Portfolio
{
    padding: 0;
    list-style-type: none;
}

ul.Education li,
Ul.Career li,
Ul.Portfolio li 
{
    display: flex;
}

.Education p,
.Career p,
.Portfolio p 
{
    margin: 0 auto;
    padding: 5px;
}

/*--Left Column Container--*/
.Sidebar 
{
    grid-area:Sidebar;
    background: var(--color-tertiary);
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
}
.Sidebar p 
{
    margin-left: 5px;
}

/*--Title + picture--*/
section 
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

img.LeftImage 
{
    border-radius: 50%;
    max-width: 80%;
    border: 5px solid var(--color-tertiary);
    margin: 0 auto;
}

/*--Left information elements--*/

ul.InfoLists 
{
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
}

ul.InfoLists li 
{
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}

.InfoLists p 
{
    margin: 0;
    padding: 5px;
}

/*--Subcontent--*/

.Content1 h4,
.Content2 h4,
.Content3 h4 
{
    margin-left: 10px;
}

.Content1 p,
.Content2 p,
.Content3 p 
{
    margin: 0 auto;
}

.Content1 
{
    grid-area:Content1;
    background:var(--color-secondary);
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
}


.Content2 
{
    grid-area:Content2;
    background:var(--color-secondary);
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
}
.Content3 
{
    grid-area:Content3;
    background:var(--color-secondary);
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
}

/*-- Footer--*/
footer 
{
    grid-area:Footer;
    background:var(--color-Quat);
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

footer ul 
{
    display: flex;
    flex-direction: row;
    list-style: none;
}

ul.Language 
{
    display: flex;
}

ul.Language li 
{
    padding-left:40px;
}

footer a 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

footer img.FlagIcon 
{
    margin: 0 auto;
    width:40px;
    height: 30px;
    border-radius: 60%;
}

footer img.ContactIcon 
{
    margin: 0 auto;
    width:45px;
    height: 30px;
}

/*---------Responsivenes-----------*/
@media screen and (max-width: 1174px) 
{
    .container 
    {
        grid-template-columns: 100vw;
        grid-template-rows: auto auto auto 1.2fr 1.2fr  auto;
        grid-template-areas:
        "Header"
        "Sidebar"
        "Main"
        "Content1"
        "Content2"
        "Content3"
        "Footer";
    }

    header 
    {
        justify-content: center;
        padding-bottom: 4px;

    }

    footer 
    {
        display: flex;
        justify-content: space-between;
    }
    footer ul 
    {
        width: 100 vw;
        display: flex;
        flex-wrap: wrap;
    }
    header button.learnMore
    {
    display: none;
    }
}