:root {
    --main-radius:5px;
    --main-padding:5px;
    font-family: 'Montserrat', sans-serif;
    --color-primary:#357470;
    --color-secondary: #91BFBC;
    --color-tertiary: linear-gradient(125.94deg, #357470 12.32%, #91BFBC 84.03%);
    --color-Quat: #2B3433;
    --text-color: #2B3433;

}
p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    }

/* ---------- Primary Container ---------- */
.container{
    display:grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: auto 2fr 2fr 2fr 2fr auto;
    grid-template-areas:
    "Sidebar Header Header Header" 
    "Sidebar Main Main Main"
    "Sidebar Main Main Main"
    "Sidebar ContentHeader ContentHeader ContentHeader"
    "Sidebar Content1 Content2 Content3"
    "Sidebar Footer Footer Footer";
    grid-gap: 0.2rem;
    color:white;
/*     text-align: center;
 */
}

/* ---------Header-------- */
header {
    grid-area:Header;
    background:var(--color-Quat);
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
}

/* ----Navigation Menu----- */
nav {
    justify-content: right;
    grid-area:Nav;
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
}

ul.NavMenu {
    display: flex;
    flex-direction: row;
}
nav li {
    list-style: none;
    margin: 5px;
}

nav li:hover {
    background: black;
    opacity: 0.6;
    transition: 0.5s;
    text-decoration: underline;
}

li a {
    text-decoration: none;
}


/* ----- Main content area ---- */
main{
    display: flex;
    background: var(--color-primary);
    grid-area:Main;
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
}


/* ---------- Left Column Container ---------- */
.Sidebar {
    background: var(--color-tertiary);
    grid-area:Sidebar;
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.7fr 1fr;
    grid-template-areas: 
    "section section"
    "aside aside"
    "About About"
}

/*----------Left information elements----------*/
.LPersInfo ul {
    padding-left: 5px;
    margin: 0;
    list-style-type: none;
	text-align: left; 
}

.RPersInfo ul {
    padding-right: 5px;
    margin: 0;
    list-style-type: none;
	text-align: right; 
}

.RPersInfo li {
    text-align: right;
    list-style-position: inside;
}

.About{
    grid-area:About;
}


/*----------Title + picture----------*/
section {
    grid-area:section;
    justify-content: center; /*Varför centrerar den inte?*/
}

img.LeftImage {
    border-radius: 50%;
    max-width: 80%;
    border: 5px solid var(--color-tertiary);
}

/*----------Main content----------*/

.ContentHeader {
    background:var(--color-secondary);
    grid-area:ContentHeader;
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
}
.Content1 {
    background:var(--color-secondary);
    grid-area:Content1;
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
}
.Content2 {
    background:var(--color-secondary);
    grid-area:Content2;
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
}
.Content3 {
    background:var(--color-secondary);
    grid-area:Content3;
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);

}

/* ---------- Footer ---------- */
footer {
    background:var(--color-Quat);
    grid-area:Footer;
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
}

a {
    color:white;
    text-decoration:none;
}


footer img.FlagIcon {
    width:45px;
    height: 30px;
}

footer img.ContactIcon {
    width:45px;
    height: 30px;
}

/*---------Responsivenes-----------*/
@media screen and (max-width:800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr  1.2fr;
        grid-template-areas:
        "Nav"
        "Sidebar"
        "Main"
        "Content1"
        "Content2"
        "Content3"
        "Footer";
    }
}